@import "variables";

.checkout {
  background-color: white;
  border-radius: $border-radius-md;
  box-shadow: $box-shadow-default;
  padding: $spacing-sm;
  margin: $spacing-sm;
  margin-top: 0;
  width: 14rem;
  align-self: flex-start;

  @media (max-width: 700px) {
    width: 20rem;
    margin: $spacing-sm 0;
    align-self: center;
  }

  .title {
    font-size: $font-size-lg;
    font-weight: 500;
    margin: 0 0 $spacing-xs 0;
    color: $text-primary;
  }

  .divider {
    border: none;
    height: 1px;
    background-color: $primary-light;
    margin: $spacing-sm 0;
  }

  .detail {
    p {
      margin: $spacing-sm 0;
      font-size: $font-size-md;

      &.itemCount,
      &.totalAmount {
        display: flex;
        justify-content: space-between;
        &::before {
          content: "";
          flex: 1;
        }
      }
    }
  }
}
